<div class=" text-center">
    <img src="/img/About us.png" height="400px" width="60%">
    <h1 style="margin-bottom: -30px; font-size:xx-large; font-weight: bold;"></h1>
    <p style="margin-left: 50px; margin-right: 60px; margin-top: 50px;" class="text-xl">
        For people who choose Optimism and clothing you can go anywhere in.<br>
    We're a small but mighty team with Canadian roots, working on big things to make the<br><br> world a better place through our mission to Amplify Optimism.<br><br>
        In 2017, our CEO (Chief Executive Optimist) George Tsogas acquired Vancouver-based<br> Kit and Ace from its original founders, the Wilson family (previously of lululemon).<br><br>
        George was driven by a long-standing goal to lead an apparel brand — sparked by a<br> background in supply chain logistics, operations, and guest experience. Together 
        with<br> business partner Melissa Kinnoch (CFO), he evolved the company's history of premium<br> design and quality construction to refocus the brand’s direction towards 
        purpose-driven<br> apparel. In a market oversaturated by fast fashion, there was a clear appetite for<br> beautiful and highly versatile clothing that easily crosses seasons 
        and goes from<br> indoors to outdoors, boardrooms to beach</p>
        <img src="/img/Add a sbheading.png" height="400px" width="60%">
        <p style="margin-left: 50px; margin-right: 60px; margin-top: 50px;" class="text-xl">
            Today at Kit and Ace, we are 100% committed to creating clothing that's Smart<br> (technical and functional), Easy to Love (big on comfort and style), and Made to Last<br> (timeless quality vs. fast and trendy). We ensure our clothes can stand the test of time,<br> and we know that when you feel good, you look your best.<br>

Our core values of Optimism, Fun, Learning, and Responsibility are lived by our people<br> daily and are at the heart of a company culture that thrives on an ongoing supply of dad<br> jokes from George.<br><br>

And this makes all of us here at Kit and Ace very, very proud.<br><br>

Here we go!</p>
    
</div>

<!-- <div class="text-center text-2xl" >
    <h1 class="text-center" style="font-size: 50px;">Contacts</h1>
    <b>Address :</b> Boudha, Kathmandu <br>
    <br><b>Mobile Number : </b> 9847698214 <br>
    <br><b>Email Id: </b> sumislove123@gmail.com <br>
    <br><b>Youtube Id : </b> Sumi's Love <br>
    <br><b>Instagram Id :</b> Crafter Sumi 
</div> -->