<div>
    <fieldset>
        <h1 style="text-align: center;">Form Sample</h1><hr>
        <form action="#">
          <p class="name">First Name :</p>
          <p class="name" id="p2">Last Name :</p>
            <br><input type="text" name="fname" placeholder="Enter First Name ">
          <input type="text" name="lname" placeholder="Enter Last Name"><br><br>
          Date of birth :<br><input type="date" name="dob" placeholder="Enter Date of Birth"><br><br>
          Gender :<br><input type="radio" name="gender" value="M">Male<br>
          <input type="radio" name="gender" value="F">Female<br>
          <input type="radio" name="gender" value="O">Others<br><br>
          Email :<br><input type="email" name="email" placeholder="Enter Email Address"><br><br>
          Phone number :<br><input type="number" name="number" placeholder="Enter Phone number"><br>
          <p class="address">Province :</p>&nbsp&nbsp<select>
            <option value="province1">Province 1</option>
            <option value="province2">Province 2</option>
            <option value="province3">Province 3</option>
            <option value="province4">Province 4</option>
            <option value="province5">Province 5</option>
            <option value="province6">Province 6</option>
            <option value="province7">Province 7</option>
          </select>
          <p class="address" id="add1">District :</p>&nbsp&nbsp<select>
            <option value="district">Bhojpur</option>
            <option value="district">Dhankuta</option>
            <option value="district">Ilam</option>
            <option value="district">Jhapa</option>
            <option value="district">Morang</option>
            <option value="district">Sunsari</option>
            <option value="district">Udayapur</option>
          </select>
          <p class="address" id="add1">City :</p>&nbsp&nbsp<select>
            <option value="district">Hetwauda</option>
            <option value="district">Kathmandu</option>
            <option value="district">Pokhara</option>
            <option value="district">Lalitpur</option>
            <option value="district">Birgunj</option>
            <option value="district">Biratnagar</option>
            <option value="district">Dhangadi</option>
          </select><br>
          Choose your Faculty :<br>
          <input type="radio" name="faculty" value="+2" checked="checked" >+2<br>
          <input type="radio" name="faculty" value="BCA" >BCA<br>
          <input type="radio" name="faculty" value="BSW" >BSW<br>
          <input type="radio" name="faculty" value="BBS" >BBS<br>
          <input type="radio" name="faculty" value="MBS" >MBS<br><br>
          Comment :<br><textarea name="comment" cols="70" rows="5">Enter Comment...</textarea><br>
          <input type="checkbox"><span>agree terms and conditions.</span><br><br>
          <input type="submit" value="SUBMIT">
        </form>
    </fieldset>
</div>


<!-- <style>
    .address{
        display: inline-block;
    }
    fieldset{
        width: fit-content;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
    .name{
        display: inline-block;
        width: fit-content;
        margin-bottom: -1px;
    }
    #p2{
        margin-left: 182px;
    }
    input[type="text"]{
        height: 30px;
        width: 260px
    }
    input[type="date"],input[type="email"],input[type="number"]{
        width: 98.9%;
        height: 30px;
    }
    #add1{
        margin-left: 20px;
    }
    select{
        width: 80px;
    }
    span{
        font-size: 13px;
    }

</style> -->
    