<div class= "text-center mt-8 py-2 ">
<span>
    <a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="facebook" height="35px" width="35px"></a>
        <a href="instagram.com"><img src="/img/instagram (1).png" alt="instagram" height="35px" width="35px"></a>
        <a href="#"><img src="/img/twitter.png" alt="twitter" height="35px" width="35px"></a>
        <a href="#"><img src="/img/github.png" alt="github" height="35px" width="35px"></a>
        <a href="https://www.youtube.com/"><img src="/img/youtube.png" alt="youtube" height="35px" width="35px"></a>
    </span>
</div>