<br><br><div class="text-center" style="margin-top: 20px;">
<a href="/img/pexels-samarth-singhai-904117.jpg"><img src="/img/pexels-samarth-singhai-904117.jpg" height="380px" style="width:20%;"></a>
<a href="/img/pexels-the-lazy-artist-gallery-1321943.jpg"><img src="/img/pexels-the-lazy-artist-gallery-1321943.jpg" height="380px" width="20%" style="margin-left: 15px;"></a>
<a href="/img/pexels-raul-reynoso-1018911.jpg"><img src="/img/pexels-raul-reynoso-1018911.jpg" height="380px" style="margin-left: 15px;"></a>
<a href="/img/pexels-anastasiya-gepp-2065195.jpg"><img src="/img/pexels-anastasiya-gepp-2065195.jpg" height="380px" style="margin-left: 15px;"></a>
</div><br>
<div>
    <a href="/img/pexels-samarth-singhai-904117.jpg" class=" text-xl text-center  no-underline " style="color: black; font-family: Arial, Helvetica, sans-serif; margin-left: 170px; ">Kurtha Suruwal</a>
    <a href="/img/pexels-the-lazy-artist-gallery-1321943.jpg" class=" text-xl text-center  no-underline " style="color: black; font-family: Arial, Helvetica, sans-serif; margin-left: 160px;">Blazer set</a>
    <a href="/img/pexels-raul-reynoso-1018911.jpg" class=" text-xl text-center  no-underline " style="color: black; font-family: Arial, Helvetica, sans-serif; margin-left: 160px;">Casual Wear</a>
    <a href="/img/pexels-anastasiya-gepp-2065195.jpg" class=" text-xl text-center  no-underline " style="color: black; font-family: Arial, Helvetica, sans-serif; margin-left: 160px;">Dress</a>
</div><br><br>
<div>
    <img src="/img/Untitled design.png" alt="" width="100%" height="100%">
</div>

<div style="margin-top: -160px; margin-left: 240px; ">
    <button style="height: 40px; width: 190px; background-color: palevioletred; color:white; font-weight: bold; font-size: 20px; border-color: palevioletred;">Ladies Item</button>
</div>

<div style="margin-top: -40px; margin-left: 890px; ">
    <button style="height: 40px; width: 190px; background-color: dimgrey; color:white; font-weight: bold; font-size: 20px; border-color: dimgray;">Gents Item</button>
</div>

