	<div class="flex" style="background-color: dimgrey; height: 50px; padding-top: 7px;">
			<a href="{{$.Site.BaseURL}}" class="text-3xl font-bold uppercase no-underline  flex-none relative text-white justify-center items-center" style="margin-left: 30px;">{{$.Site.Title}}</a>
			<div class="flex-grow max-w-md"></div>
			<div class="flex right  justify-center items-center text-xl" style=" font-family: Arial, Helvetica, sans-serif;" >
				{{range (sort $.Site.Sections ".Params.weight").Reverse}}
				<span class="flex mx-2">
					<a href="{{ .RelPermalink }}" class="px-1 cursor-pointer no-underline text-white tracking-tight border-none hover:font-bold border-0 border-b-4 border-red-300 ">{{.Title}}</a>
				</span>
				{{end}}
			</div>
		</div>

